<div layout>
    <link rel="stylesheet" href="src/_modules/jobs/jobList.css"/>
</div>
<div layout flex-grow="1" layout-align="stretch">
    <md-card flex-grow="1" layout="column">
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <md-icon class="material-icons">search</md-icon>
                <form flex="" name="filter.form" class="ng-valid flex ng-valid-parse ng-pristine" _lpchecked="1">
                    <input type="text"  placeholder="search" class="ng-valid ng-valid-parse ng-touched ng-pristine" aria-invalid="false">
                </form>
            </div>
        </md-toolbar>
        <br/>
        <md-virtual-repeat-container id="vertical-container" flex-grow="1">
            <md-table-container>
                <table md-table md-row-select="false">
                    <thead md-head md-order="orderBy">
                    <tr md-row class="table-header">
                        <th md-column style="padding:0px 5px 0px 0px;">
                            <md-icon class="material-icons">
                                <md-tooltip md-direction="right">
                                    Hot jobs will be marked with a red flame
                                </md-tooltip>
                                whatshot
                            </md-icon>
                        </th>
                        <th md-column md-order-by="projectid">Job ID</th>
                        <th md-column md-order-by="name">Job Name</th>
                        <th md-column md-order-by="source">Source</th>
                        <th md-column md-order-by="status">Status</th>
                        <th md-column md-order-by="facility_state">State</th>
                        <th md-column md-order-by="created_at">Date Added</th>
                        <th md-column md-order-by="hourly">Hourly</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <!-- ADD TR TAGS HERE... See https://github.com/daniel-nagy/md-data-table for data table reference -->
                    </tbody>
                </table>
            </md-table-container>
        </md-virtual-repeat-container>
    </md-card>
</div>