<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contractor Trial</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://npmcdn.com/angular-material-data-table@0.10.9/dist/md-data-table.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.11/css/perfect-scrollbar.min.css"/>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css"/>

    <link rel="stylesheet" href="assets/app.css"/>
    <link rel="stylesheet" href="assets/tables.css"/>
</head>

<body ng-app="contractorTrialApp" layout="row" ng-controller="appCtrl as app" ng-cloak>
<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" aria-label="Show User List" md-is-locked-open="$mdMedia('gt-lg')">
    <md-toolbar class="md-whiteframe-z1">
        <div class="md-toolbar-tools" layout-align="space-between center" layout-align="space-between center">
            <md-button class="md-icon-button">
            </md-button>
            <h3>Menu</h3>
            <md-button class="md-icon-button" aria-label="Logout">
                <md-icon>power_settings_new</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-list>
        <md-list-item ng-repeat="item in app.menu">
            <md-button ng-click="app.changeRoute(item.route)" ng-class="{'selected' : item.route === app.selected}">
                <md-icon style="margin-right:20px">{{item.icon}}</md-icon> {{item.label}}
            </md-button>
        </md-list-item>
    </md-list>
</md-sidenav>
<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
    <md-toolbar layout="row" class="md-whiteframe-z1">
        <div class="md-toolbar-tools" layout-align="space-between center">
            <md-button hide-gt-lg ng-click="app.toggleMenu()" class="md-icon-button" aria-label="Settings">
                <md-icon>menu</md-icon>
            </md-button>
            <h2>
                <span>{{app.appSvc.header}}</span>
            </h2>
            <md-button class="md-icon-button" aria-label="More">
                <md-icon>more_vert</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div layout="column" layout-align="stretch" flex id="content" ng-view>
    </div>
</div>

<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="node_modules/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="node_modules/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="node_modules/angular-material/angular-material.min.js"></script>
<script type="text/javascript" src="https://npmcdn.com/angular-messages/angular-messages.min.js"></script>
<script type="text/javascript" src="https://npmcdn.com/angular-material-data-table/dist/md-data-table.min.js"></script>
<script type="text/javascript" src="https://npmcdn.com/api-check/dist/api-check.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/jkuri/ngSlimscroll/master/src/js/min/ngSlimscroll.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.11/js/min/perfect-scrollbar.jquery.min.js"></script>

<script type="text/javascript" src="src/js/app.js"></script>
<script type="text/javascript" src="src/_modules/jobs/jobs.js"></script>
<script type="text/javascript" src="src/_modules/jobs/job.ctrl.js"></script>
<script type="text/javascript" src="src/_modules/jobs/jobService.js"></script>
<script type="text/javascript" src="src/_modules/users/users.js"></script>
<script type="text/javascript" src="src/_modules/users/user.ctrl.js"></script>

</body>
</html>
